<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karyakita.karyakita_android_new">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main_app_karyakita"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_app_karyakita"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.SplashTheme" />
        <activity android:name=".activity.customer.HomeCustomerActivity" />
        <activity android:name=".activity.customer.DetailKaryaActivity">

        </activity>
        <activity android:name=".activity.MovieActivity" />
        <activity android:name=".activity.customer.PesanCustomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>